 table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
 * {
     margin: 0;
     padding: 0;
     font-family: 'ubuntu', sans-serif;
.contat {
    margin-bottom: 1.5rem;
}
 }
 /* faqs */
 #faqs {
     height: 100%;
     padding: 50px, 0;
 }
 #faqs h1 {
     font-weight: 900;
     font-size: 34px;
     text-align: center;
     padding: 20px 0 50px 0;
 }
.accordion .card {
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;
}
.accordion .card .card-header {
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;

}
.accordion .card-header h2 {
    font-size: 1rem;
}
.accordion .card-header .btn {
    color: #8c7f90;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;

}
.accordion .card-header i {
    font-size: 1.3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
}
.accordion .card-body {
    color: #666;

}